@font-face {
    font-family: RHRCN;
    src: url("ResourceHanRoundedCN-Normal.ttf");
}

* {
    --bg-color: rgb(40,44,52);
    --text-color: rgb(239,239,239);
}

#video_link{
    text-decoration: underline;
    position: sticky;
    text-align: center;
    height: auto;
    top: 0px;
    left: 0px;
    right: 0px;
    padding: 8px 8px 8px 8px;
    border-radius: 8px;
    opacity: 0.1;
    background-color: var(--bg-color);
    transition: opacity ease-in-out 0.1s;
}

#video_link:hover{
    opacity: 0.75;
}

pre {
    font-family: Consolas;
    font-size: 1.25em;
}

body {
    left: 0;
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: RHRCN;
}

html {
    left: 0;
}

a{
    color: var(--text-color);
    text-decoration: none;
}

center{
    text-align: center;
}

h1, h2, h3, h4, h5, h6{
    margin: 0 0 0 0;
    margin-left: 32px;
}

p{
    margin: 0 0 0 0;
    margin-left: 32px;
    font-size: large;
}

canvas{
    margin-left: 32px;
}

.img{
    margin: 0 0 0 0;
    margin-left: 32px;
}